
doc/tex/DataStoreRescope_UserGuide.aux
doc/tex/DataStoreRescope_UserGuide.log
doc/tex/DataStoreRescope_UserGuide.out
doc/tex/DataStoreRescope_UserGuide.synctex.gz
doc/tex/DataStoreRescope_UserGuide.toc
